[package]
name    = "{ name }"
version = "{ version }"
authors = [
{{- for author in authors }}
    "{ author }",
{{- endfor }}
]
edition = "2018"

description = "Driver crate for the { name | upper } stepper motor driver"
repository  = "https://github.com/flott-motion/step-dir"
license     = "0BSD"
keywords    = ["step-dir", "stepper", "motor", "driver", "pololu"]
categories  = ["embedded", "hardware-support", "no-std", "science::robotics"]


[dependencies.step-dir]
version          = "{ version }"
path             = "../.."
default-features = false
features         = ["{ name }"]
